<div class="container">

  <form [formGroup]="companyForm" (ngSubmit)="onFormSubmit()">

    <div mat-card-content class="content">
      <h1>Add new company</h1>
      <h4>Insert the details and save</h4>
      <mat-form-field appearance="outline">
        <mat-label>Company name</mat-label>
        <input matInput placeholder="Company name" formControlName="companyName" maxlength="50">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Company Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St" rows="4" formControlName="companyAddress"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="abc@gmail.com" formControlName="email" maxlength="100">
        <mat-error *ngIf="companyForm.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input matInput placeholder="Phone number" maxlength="15" formControlName="phoneNumber">
        <mat-error *ngIf="companyForm.controls.phoneNumber.invalid">{{getPhoneErrorMessage()}}</mat-error>
      </mat-form-field>


      <button mat-flat-button color="primary" type="submit">Save</button>


    </div>
  </form>


</div>


