.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar.mat-primary{
  background: #1428e0;
  color: #f8f8f8;
}

mat-sidenav {
  border-right: none;
  background: #1428e0;
  color: #f8f8f8;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.content {
  width: 100% !important;
  min-height: 100% !important;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

mat-icon {
  margin-right: 8px;
}


.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.email {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
