<mat-card>

  <mat-card-header>User registration</mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="reactiveForm" (ngSubmit)="saveUser()">
      <mat-form-field appearance="fill">

        <mat-label>Userid</mat-label>
        <input matInput placeholder="Userid" formControlName="userId">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>UserEmail</mat-label>
        <input matInput placeholder="UserEmail" formControlName="userEmail">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="userName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" formControlName="userPassword">
      </mat-form-field>

      <button mat-flat-button color="primary" style="margin-right: 10px">Login</button>
      <button mat-flat-button color="accent" (click)="openLogin()">Close</button>
    </form>


  </mat-card-content>

</mat-card>
